apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: redis
  name: redis-deplt
  namespace: j23milli
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - image: redis:alpine
      # - image: eloip13009/redis-hc
      # - image: europe-west9-docker.pkg.dev/nuage-k8s/login-nuage-images/redis-hs
        name: redis-container
        env:
          - name: REDIS_PASSWORD
            value: "password"
          - name: REDIS_IP
            value: "10.144.208.112"
        ports:
        - containerPort: 6379
          name: redis-port
        livenessProbe:
          exec:
            command:
            - /healthchecks/redis.sh
          periodSeconds: 15
